*{
    padding: 0;
    margin: 0;
}
html{
    font-family: sans-serif;
    width: 100vw;
    
}


.bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 1rem;
    padding-top: 1rem;
}
nav{
    
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
    align-items: center;
    
}
nav a{
    text-decoration: none;
    color: black;
}

button{
    color: white;
    background-color: #0b57d0;
    min-width: 85px;
    border: none;
    border-radius: 8px;
    padding: 10px 30px ;
    cursor: pointer;
}
nav a:hover{
    text-decoration: underline;
}

nav span{
    color: rgb(109, 109, 109);
    padding-top: 6px;
    
}

.container{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    min-height: 100vh;
}

.bottom{
    color: black;
    display: flex;
    flex-direction: column;
    padding-right:1.5rem;
    background-color: #f2f2f2;
    font-weight: 200;
}
.bottom a{
    color: #000000;
    text-decoration: none;
}
.bottom a:hover{
    text-decoration: underline;

}
.country{
    padding-left: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
}
.country h4{
    font-weight: 400;
}
hr{
    width: 100vw;
    color: #e1dede;
    border: 1px solid;
}
.info{
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

}
.left_side{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.right_side{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form input{
    width: 700px;
    height: 45px;
    padding-left: 50px;
    font-size: 1.2rem;
    border-radius: 45px;
    border: 1px solid #d3d3d3;
}
.google{
    width: 350px;
}
form input:hover{
    box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 0.5);
}
form input:focus{
    outline: none;
}
.search_icon{
    position: absolute;
    width: 30px;
    top: 10px;
    left: 15px;
}

.right_icon1{
    width: 30px;
    position: absolute;
    top: 8px;
    right: 15px;
    
}
.right_icon2{
    width: 30px;
    position: absolute;
    right: 49px;
    top: 9px;
}

form{
    position: relative;
}

.btn button{
    color: black;
    border: 1px solid transparent;
    background-color: #d3d3d3;
    border-radius: 5px;
}

.btn button:hover{
    outline: auto ghostwhite;
}

.note a{
    color: #0b57d0;
}

.btn{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    padding-top: 1.5rem;
}

.tos {
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
.terms{
    display: flex;
    flex-direction: column;
    padding-left: 20vh;
    padding-right: 35vh;
}

.tos img{
    align-self: center;
    width: 80vw;
}

.mode{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.mode a:focus{
    padding: 3px;
    border-radius: 4rem;
    background-color: black;
}


.dark body{
    color: white;
    background-color: #000000;
}
.dark .bar a{
    color: white;
}



