{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Google Search{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/StylePage.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <nav class="nav-bar">
            <a href="#">Gmail</a>
            <a href="#">Images</a>
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M120-80v-80h720v80H120Zm0-240v-80h720v80H120Zm0-240v-80h720v80H120Zm0-240v-80h720v80H120Z"/></svg></a>
            <a href="#"><button class="btn">Sign in</button></a>
        </nav>
    </div>
    {% block main %} {% endblock %}
    <div class="footer">Saudi Arabia</div>
    <div class="footer"><div class="left-links">
        <a href="#">About</a>
        <a href="#">Advertising</a>
        <a href="#">Business</a>
        <a href="#">How Search Works</a>
    </div>
    <div class="right-links">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Settings</a>
    </div>
    </div>
</div>
</body>
</html>
