{% extends 'google/base.html' %}

{% block title %} Terms Page {% endblock %}

{% block content %}
{% load static %}

<div class="page">

    <div class="arrange-terms">
        <div class="terms-img">
            <img src="{% static 'images/tos_main_illustration.svg' %}">
        </div>
        <div class="texts">
            <h1>Google Terms of Service</h1>

            <p class="pp">
                Effective 5 January 2022
                |
                <a href="" style="text-decoration: none;">
                    Archived versions 
                </a>
                    |
                <a href="" style="text-decoration: none;">
                    Download PDF
                </a>
            </p> 

            <p>
            <a href="">
                   Country version: 
            </a>
            Saudi Arabia
            </p>

            <h2>What's covered in these terms</h2>
            <p>
                <p style="width: 250px;">          
                    <h4>
                        We know it's tempting to skip these Terms of Service, but it's important to establish what you can expect from us as you use Google
                        <a href="">
                            services
                        </a> 
                        and what we expect from you.
                    </h4>
                </p>
            
            </p>
        </div>
    </div>

</div>
{% endblock %}