{% extends 'google/base.html' %}
{% load static %}
{% block title %} Terms of Service {% endblock %}
{% block main %}
<div class="content">
    <div class="img-container">
        <img src="{% static 'images/Terms.png' %}"  style="width:50%; margin-left: 300px; " >
    </div>
    <br>
    <div class="terms-container">
        <div class="terms">
            <h1 style="margin-left: 330px;">Google Terms of Service</h1>
            <br>
            <br>
            <p style="margin-left: 330px;">Effective 5 January 2022 | <a href="#" >Archived versions</a> | <a href="#" >Download PDF</a></p>
            <br>
            <p style="margin-left: 330px;"><a href="#">Country version: </a>  Saudi Arabia</p>
            <br>
            <h2 style="margin-left: 330px;">What's covered in these terms </h2>
            <br>
            <p style="font-weight: bold; margin-left:330px;"> We know it's tempting to skip these Terms of Service, but it's important to establish what you can expect from us as you use Google <br><a href="#">service</a>, and what we expect from you.</p>
           <br>
            <p style="margin-left:330px;">These Terms of Service reflect <a href="#">the way that Google's business works</a>, the laws that apply to our company, and <a href="#">certain things that we've always believed to be true.</a>As a result, these Terms of Service help define Google's relationship with you as you interact with our services. For example, these terms include the following topic headings:</p>
            <br>  <br>  <br>  <br>  <br>
        </div>
        </div>
</div>
{% endblock %}