{% extends 'google/base.html' %}

{% block title %} Terms Page {% endblock %}

{% block content %}
{% load static %}

<div class="page">

    <div class="arrange-terms">
        <div class="terms-img">
            <img src="{% static 'images/tos_main_illustration.svg' %}">
        </div>
        <div>
            <h1>Google Terms of Service</h1>

            <div>
                Effective 5 January 2022
                <hr>
                <a href="">
                    
                </a>
                <hr>
                <a href="">
                    
                </a>
            </div> 

            <a href="">
                    
            </a>
            Saudi Arabia

            <h2></h2>
        </div>
    </div>

</div>
{% endblock %}