{% extends "base.html" %}
{% load static %}
{% block title %}Terms of Service{% endblock %}

{% block content %}
<body>
    <div class="wrapper">
    <header>
        <img src="{% static 'images/tos_main_illustration.svg' %}" alt="Terms of Service Illustration" class="header-image">
    </header>

    <main>
        <h1 class="main-title">Google Terms of Service</h1>
        <p class="effective-date">
            Effective 5 January 2022 | 
            <a href="https://www.google.com/terms/archive?hl=en-SA&amp;fg=1">Archived versions</a> | 
            <a href="https://www.gstatic.com/policies/terms/pdf/20220105/it7r24p9/google_terms_of_service_en-GB.pdf">Download PDF</a>
        </p>
        <p class="country-version">
            <a href="https://www.google.com/terms?hl=en-SA&amp;fg=1#footnote-country-version">Country version:</a>
            Saudi Arabia
        </p>

        <section>
            <h2>What’s covered in these terms</h2>
            <p>
                We know it’s tempting to skip these Terms of Service, 
                but it’s important to establish what you can expect from us as you use Google
                <a href="https://www.google.com/terms?hl=en-SA&amp;fg=1#footnote-services">services</a>,
                and what we expect from you.
            </p>
            <p>
                These Terms of Service reflect 
                <a href="https://about.google/intl/en-GB_SA/how-our-business-works">the way that Google’s business works</a>,
                the laws that apply to our company, and 
                <a href="https://www.google.com/about/philosophy.html?hl=en_GB">certain things that we’ve always believed to be true</a>.
                As a result, these Terms of Service help define Google’s relationship with you as you interact with our services.
            </p>
            <ul>
                <li><a href="https://www.google.com/terms?hl=en-SA&amp;fg=1#toc-what-you-expect">What you can expect from us</a>, which describes how we provide and develop our services.</li>
                <li><a href="https://www.google.com/terms?hl=en-SA&amp;fg=1#toc-what-we-expect">What we expect from you</a>, which establishes certain rules for using our services.</li>
                <li><a href="https://www.google.com/terms?hl=en-SA&amp;fg=1#toc-content">Content in Google services</a>, which describes the intellectual property rights to the content that you find in our services.</li>
                <li><a href="https://www.google.com/terms?hl=en-SA&amp;fg=1#toc-problems">In case of problems or disagreements</a>, which describes other legal rights that you have.</li>
            </ul>
            <p>Understanding these terms is important because, by using our services, you’re agreeing to these terms.</p>
            <p>
                Besides these terms, we also publish a 
                <a href="https://www.google.com/privacy?hl=en-SA&amp;fg=1">Privacy Policy</a>.
                Although it’s not part of these terms, we encourage you to read it to better understand how you can 
                <a href="https://myaccount.google.com/?hl=en_GB">update, manage, export and delete your information</a>.
            </p>
        </section>

        <h2>Terms</h2>
        <h3>Service provider</h3>
        <p>
            Google <a href="https://www.google.com/terms?hl=en-SA&amp;fg=1#footnote-services">services</a>
            are provided by, and you’re contracting with:
        </p>
        <p>
            Google LLC, organized under the laws of the State of Delaware, USA, <br>
            1600 Amphitheatre Parkway, Mountain View, California 94043, USA
        </p>

        <h3>Age requirements</h3>
        <p>
            If you’re under the <a href="https://support.google.com/accounts/answer/1350409?hl=en_GB">age required to manage your own Google Account</a>,
            you must have your parent or legal guardian’s permission to use a Google Account. Please ask your parent or legal guardian to read these terms with you.
        </p>
        
        <p>
            If you’re a parent or legal guardian, and you allow your child to use the 
            <a href="https://www.google.com/terms?hl=en-SA&amp;fg=1#footnote-services">services</a>, 
            then these terms apply to you and you’re responsible for your child’s activity on the services.
        </p>
        
        <p>
            Some Google services have additional age requirements as described in their 
            <a href="https://www.google.com/terms/service-specific?hl=en-SA&amp;fg=1">service-specific additional terms and policies</a>.
        </p>

    
    </main>
</div>
        
</body>
{% endblock %}