{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Google</title>
</head>
<body>
    <header>
        
            <h5>Gmil </h5>
            <h5>Images </h5>
            <a href="" class="sign">Sign in</a>
        
    </header>

    <section>

        <img src="static/Images/google-logo.png" alt="Google img" width="272" height="92">
        
        <form class="search-bar">
            
            <input class="search-input" type="text" >
            <img class="search-icon" src="static/Images/mircophone.png" alt=""> 
            <img class="search-icon" src="static/Images/camera.png" alt="">    
   
        </form>
        <form class="click">
            <button type="submit">Google Search</button>
            <button type="submit" >I'm Feeling Lucky</button>
        </form>
        
        <p style="font-size: 15px;">Google Offered in: <span style="color: blue;">العربية</span></p>
    </section>

    <footer>
        <div>
            <Strong>Saudi Arabia</Strong>
        </div>

        <div class="l">
            <h6>About</h6>
            <h6>Advertising</h6>
            <h6>Business</h6>
            <h6>How Search wroks</h6>
        </div>

        <div class="r">
            <h6>Privacy</h6>
            <h6>Terms</h6>
            <h6>Settings</h6>
        </div>

    </footer>

</body>
</html>