{% extends 'main/base.html' %}
{% load static %}

{% block title%}Google{% endblock %}

{% block content %}
<!-- Google logo -->
<section class="container">
    <div class="row justify-content-center">
        <div class="col m-5 p-5">
            <img class="mx-auto d-block img-fluid googlelogo" src="{% static 'images/google-logo.png' %}"
                alt="Google Logo">
        </div>
    </div>
</section>

{% endblock %}

{% block content-2 %}
<!-- Search form -->
<section class="container">
    <form action="https://www.google.com/search" method="get">
        <div class="row justify-content-center">
            <div class="col-sm-4 m-2 p-2">
                <div class="bar pe-4 rounded-pill">
                    <div class="input-group mx-3">
                        <img class="searchbaricon rounded-pill p-1 " src="{% static 'images/search.png' %}"
                            alt="search icon">
                        <input type="text" name="q" class="form-control focus-ring focus-ring-light border-0"
                            aria-label="Search">
                        <a href="">
                            <img class="searchbaricon rounded-pill" src="{% static 'images/microphone.png' %}"
                                alt="mic">
                        </a>
                        <a href="">
                            <img class="searchbaricon rounded-pill " src="{% static 'images/camera.png' %}"
                                alt="camera">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Buttons -->
        <div class="container">
            <div class="row justify-content-center text-center g-3">
                <div class="col-sm-4 m-3 p-3">
                    <input class="btn btn-secondary px-3 btn-light fs-6" type="submit" value="Google Search">
                    <input class="btn btn-secondary px-3 btn-light fs-6" type="button" value="I'm Feeling Lucky">
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock %}

{% block content-3 %}
<!-- Area beneath buttons -->
<section class="container">
    <div class="row justify-content-center text-center align-text-top">
        <div class="col-sm-4 m-2 p-3">
            <small>Google offered in:
                <a class=" link-underline-opacity-0 link-underline-opacity-100-hover" href=""> العربية</a>
            </small>
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
<section class="container-fluid fixed-bottom">
    <div class="row bg-body-secondary border-bottom border-secondary-subtle">
        <div class="col-sm-4 align-content-start">
            <p class="p-2">Saudia Arabia</p>
        </div>
    </div>
    <div class="row bg-body-secondary border-bottom border-secondary-subtle justify-content-between">
        <div class="col-sm-4">
            <nav class="navbar navbar-expand-sm">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link linkHover" href="">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link linkHover" href="">Advertising</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link linkHover" href="">Business</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link linkHover" href="">How Search Works</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-sm-4 text-end">
            <nav class="navbar navbar-expand-sm">
                <div class="container-fluid">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link linkHover" href="">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link linkHover" href="{% url 'main:termsView' %}">Terms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link linkHover" href="">Settings</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</section>
{% endblock %}