{% extends 'main/base.html' %}
{% load static %}

{% block title %}Google Terms of Service{% endblock %}

{% block content %}
<div class="content-container">
    <div class="image-container">
        <img src="{% static 'images/tos_main_illustration.svg' %}" class="terms-image" alt="Terms of Service">
    </div>
    <div class="text-container">
        <h1>Google Terms of Service</h1>
        <p>Effective January 5, 2022 | <a href="#" class="link-style">Archived versions</a> | <a href="#" class="link-style">Download PDF</a></p>
        <p><a href="#" class="link-style">Country version:</a> Saudi Arabia</p>

        <h2>What is covered by these terms</h2>
        <p>We know it’s tempting to skip over these terms, but it’s important to understand what to expect from us while using Google <a href="#" class="link-style">services</a>, and what we expect from you.</p>
        <p>These terms help define our relationship with you while you interact with our services. For instance, these terms include the following topics:</p>
        <ul>
            <li><a href="#" class="link-style">What you can expect from us</a>, which describes how we provide and improve our services</li>
            <li><a href="#" class="link-style">What we expect from you</a>, which sets out some rules for using our services</li>
            <li><a href="#" class="link-style">Content in Google services</a>, which describes the intellectual property rights of the content you find in our services – whether that content belongs to you, Google, or others</li>
            <li><a href="#" class="link-style">In case of problems or disagreements</a>, which outlines the legal rights you have and what to expect if someone violates these terms.</li>
        </ul>
        <p>Understanding these terms is important because by using our services, you agree to these terms.</p>
        
        <h2>Terms</h2>
        <h3>Service Provider</h3>
        <p>The services are provided by, and you’re contracting with:</p>
        <p>Google LLC<br>
        organized under the laws of the State of Delaware, USA<br>
        1600 Amphitheatre Parkway<br>
        Mountain View, California 94043<br>
        USA</p>

        <h3>Age Requirements</h3>
        <p>If you are under the required age to manage your own Google Account, you must have your parent or legal guardian’s permission to use a Google account. Please ask your parent or legal guardian to read these terms with you.</p>
        <p>If you are a parent or legal guardian and allow your child to use the services, these terms apply to you and you are responsible for your child’s activity on the services.</p>
        <p>Some Google services have additional terms and policies.</p>

        <p>Understanding the <a href="#" class="link-style">way that Google’s business works</a> is essential for a clearer picture of our terms.</p>
        
        <p>Additionally, there are <a href="#" class="link-style">certain things that we’ve always believed to be true</a>.</p>

        <h3>Privacy Policy</h3>
        <p>For more information on how you can <a href="#" class="link-style">update, manage, export and delete your information</a>, please refer to our <a href="#" class="link-style">Privacy Policy</a>.</p>
    </div>
</div>
{% endblock %}
