{% extends "main/base.html" %}
{% load static %} 

{% block title %}Google Terms of Service{% endblock %}

{% block content %}
<div class="terms-container">
    <div class="terms-header">
        <img src="{% static 'Images/terms-illustration.png' %}" alt="Google Logo" class="google-logo">
    </div>
    <div class="terms-body">
        <h1>Google Terms of Service</h1>
        <p class="terms-effective-date">Effective 5 January 2022 | <a href="#">Archived versions</a> | <a href="#">Download PDF</a></p>
        <p class="terms-country">Country version: <span>Saudi Arabia</span></p>
        
        <h2>What's covered in these terms</h2>
        <p>We know it’s tempting to skip these Terms of Service, but it’s important to establish what you can expect from us as you use Google services, and what we expect from you.</p>
        
        <p>These Terms of Service reflect the way that <a href="#">Google’s business works</a>, the laws that apply to our company, and <a href="#">certain things that we’ve always believed to be true</a>. As a result, these Terms of Service help define Google’s relationship with you as you interact with our services. For example, these terms include the following topic headings:</p>
    </div>
</div>
{% endblock %}