{% extends 'main/base.html' %}
{% load static %}

{% block title%}Terms{% endblock %}

{% block content %}
<!-- Terms image -->
<section class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 m-5 p-5">
            <img class="mx-auto d-block img-fluid" src="{% static 'images/terms.svg' %}" alt="Google Logo">
        </div>
    </div>
</section>

{% endblock %}

{% block content-2 %}
<!-- Terms content -->
<section class="container">
    <div class="row justify-content-center text-start align-text-top text-black">
        <div class="col-md-8 m-2 p-3">
            <!-- Converted the rtf file to an html file and moved its contents here -->
            <p class="display-4 text-black fw-semibold">Google Terms of Service</p>
            <p class="mb-2 fs-6">
                <span>Effective 5 January 2022 |</span>
                <a class="text-decoration-none text-primary" href="">Archived versions</a> |
                <a href="https://www.gstatic.com/policies/terms/pdf/20220105/it7r24p9/google_terms_of_service_en-GB.pdf"
                    class="text-decoration-none text-primary">Download PDF
                </a>
                <br><br>
                <a class="text-decoration-none text-primary" href="">Country version: </a>
                <span class="text-black">Saudi Arabia</span>
            </p>
            <br>
            <p class="mb-2 fs-4 fw-bold">What’s covered in these terms</p>
            <p class="my-2 fs-5">
                We know it’s tempting to skip these Terms of Service, but it’s important to establish what you can
                expect from us as you use Google services, and what we expect from you.<br><br>

                These Terms of Service reflect <a class="text-decoration-none text-primary"
                    href="https://about.google/intl/en-GB_SA/how-our-business-works">
                    the way that Google’s business works</a>, the laws that apply to our company, and
                <a class="text-decoration-none text-primary"
                    href="https://www.google.com/about/philosophy.html?hl=en_GB">certain things that we’ve always
                    believed to be
                    true.</a> As a result, these Terms of Service help define Google’s relationship with you as you
                interact with our services. For example, these terms include the following topic headings:
            </p>
            <ul class="my-2 fs-5 fst-italic">
                <li>
                    <a class="text-decoration-none text-primary" href="">What you can expect from us</a>, which
                    describes how we provide and develop our services
                </li>
                <li>
                    <a class="text-decoration-none text-primary" href="">What we expect from you</a>,which establishes
                    certain rules for using our services
                </li>
                <li>
                    <a class="text-decoration-none text-primary" href="">Content in Google services</a>, which describes
                    the intellectual property rights to the content that you find in our services – whether that content
                    belongs to you, Google or others
                </li>
                <li>
                    <a class="text-decoration-none text-primary" href="">In case of problems or disagreements</a>, which
                    describes other legal rights that you have, and what to expect in case someone violates these terms.
                </li>
            </ul>
            <p class="my-2 fs-5">
                Understanding these terms is important because, by using our services, you’re agreeing to these terms.
                <br><br>
                Besides these terms, we also publish a <a class="text-decoration-none text-primary"
                    href="https://www.google.com/privacy?hl=en-SA&amp;fg=1">Privacy Policy</a>. Although it’s not part
                of these terms, we encourage you to read it to better understand how you can
                <a class="text-decoration-none text-primary" href="https://myaccount.google.com/?hl=en_GB">update,
                    manage, export and delete your
                    information.</a> <br><br>
            </p>
            <h1 class="my-3 display-4 fw-bold">Terms</h1>
            <h1 class="display-6 fw-medium">Service provider</h1>
            <p class="my-2 fs-5">Google services are provided by, and you’re contracting with: <br>
                Google LLCorganised under the laws of the State of Delaware, USA, and operating under the laws of the
                USA1600 Amphitheatre ParkwayMountain View, California 94043USA
            </p>

            <h1 class="my-3 display-6 fw-medium">Age requirements</h1>
            <p class="my-2 fs-5">If you’re under the
                <a class="text-decoration-none text-primary"
                    href="https://support.google.com/accounts/answer/1350409?hl=en_GB">
                    age required to manage your own Google Account</a>, you must have your parent
                or legal guardian’s permission to use a Google Account. Please ask your parent or legal guardian to read
                these terms with you. <br><br>

                If you’re a parent or legal guardian, and you allow your child to use the services, then these terms
                apply to you and you’re responsible for your child’s activity on the services. <br><br>

                Some Google services have additional age requirements as described in their <a
                    class="text-decoration-none text-primary"
                    href="https://policies.google.com/terms/service-specific?hl=en-SA&fg=1">service-specific additional
                    terms and policies</a>.
            </p>
        </div>
    </div>
</section>
{% endblock %}