{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/homeStyle.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0&icon_names=apps" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Google</title>
    </head>
        <body>
             <div class="box">
                <nav class="navbar">
                    <a href="#" class="nav-item">Gmail</a>
                    <a href="#" class="nav-item">Images</a>
                    <span class="material-symbols-outlined">apps</span>
                    <span class="material-symbols-outlined">
                        Home
                        </span>
                    <button class="click1">Sign in </button>
                </nav>
             </div>
             <main>
                {%block content%}
                {%endblock%}
            </main>       
        </body>
</html>  