{%  extends 'main/control.html'%}
{% block content %}
{%load static%}

<section class="edit-page-S">
    <div> 
        <img src="{% static 'images/tos_main_.png' %}" alt="Google Service" class="google-service">

        </div>
    </section>
    <section class="edit-text">
        <div>
            <h3>Google Terms of Service</h3>
            <p>
                Effective 5 January 2022 | <a href="#">Archived versions</a> | <a href="#">Download PDF</a><br>
                Country version: Saudi Arabia
            </p>
            <p>
                What’s covered in these terms
                <ul>
                    <li>What you can expect from us, which describes how we provide and develop our services</li>
                    <li>What we expect from you, which establishes certain rules for using our services</li>
                    <li>Content in Google services, which describes the intellectual property rights to the content that you find in our services – whether that content belongs to you, Google or others</li>
                    <li>In case of problems or disagreements, which describes other legal rights that you have, and what to expect in case someone violates these terms.</li>
                </ul>
                Understanding these terms is important because, by using our services, you’re agreeing to these terms.
                Besides these terms, we also publish a <a href="#">Privacy Policy</a>. Although it’s not part of these terms, we encourage you to read it to better understand how you can update, manage, export, and delete your information.
            </p>
            <p>
                Terms<br>
                Service provider<br>
                Google services are provided by, and you’re contracting with:<br>
                Google LLC, organized under the laws of the State of Delaware, USA, and operating under the laws of the USA<br>
                1600 Amphitheatre Parkway, Mountain View, California 94043, USA
            </p>
            <p>
                Age requirements<br>
                If you’re under the age required to manage your own Google Account, you must have your parent or legal guardian’s permission to use a Google Account. Please ask your parent or legal guardian to read these terms with you.
            </p>
        </div>
    </section>


{% endblock %}