{%extends 'main/base.html'%}
{%load static%}
{%block title%}Terms{%endblock%}

{% block content %}

<section class="term-content">
    <img src="{%static 'images/tos_main_illustration.svg'%}"/>
    <div class="terms-text">
        <h3>Google Terms of Service</h3>
        <p>Effective 5 January 2022 | <a href="">Archived versions</a> | <a href="">Download PDF</a> </p>
        <p><a href="">Country version</a>: Saudi Arabia</p>
        <h5>What’s covered in these terms</h5>
        <h6>We know it’s tempting to skip these Terms of Service, but it’s important to establish what you can expect from us as you use Google <a href="">services</a>, and what we expect from you.</h6>
        <p>These Terms of Service reflect <a href="">the way that Google’s business works</a>, the laws that apply to our company, and <a href="">certain things that we’ve always believed to be true</a>. As a result, these Terms of Service help define Google’s relationship with you as you interact with our services. For example, these terms include the following topic headings:</p>
        <ul>
            <li><a href="">What you can expect from us</a> which describes how we provide and develop our services</li>
            <li><a href="">What we expect from you</a> which establishes certain rules for using our services</li>
            <li><a href="">Content in Google services</a>, which describes the intellectual property rights to the content that you find in our services – whether that content belongs to you, Google or others</li>
            <li><a href="">In case of problems or disagreements</a>, which describes other legal rights that you have, and what to expect in case someone violates these terms.</li>
       </ul>
        <p>Understanding these terms is important because, by using our services, you’re agreeing to these terms.</p>
        <p>Besides these terms, we also publish a <a href="">Privacy Policy</a> Although it’s not part of these terms, we encourage you to read it to better understand how you can <a href="">update, manage, export and delete your information</a></p>

        <h3>Terms</h3>
        <h5>Service provider</h5>
        <p>Google <a href="">services</a> are provided by, and you’re contracting with:</p>
        <p>Google LLCorganised under the laws of the State of Delaware, USA, and operating under the laws of the USA1600 Amphitheatre ParkwayMountain View, California 94043USA</p>

        <h3>Age requirements</h3>
        <p>If you’re under the <a href="">age required to manage your own Google Account</a>, you must have your parent or legal guardian’s permission to use a Google Account. Please ask your parents or legal guardian to read these terms with you.</p>
        <p>If you’re a parent or legal guardian, and you allow your child to use the <a href="">services</a>, then these terms apply to you and you’re responsible for your child’s activity on the services.</p>
        <p>Some Google services have additional age requirements as described in their <a href="">service-specific additional terms and policies</a>.</p>

    </div>


</section>

{%endblock%}